@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply bg-slate-400;
  }
  html{
    scroll-behavior: smooth;
  }
}

.background {
  background-attachment: scroll;
}

.blockInfoStyle {
  font-size: large;
  color:#757575;
}

.rows .row {
  display: inline-block;
}

.divBar {
  width:100%;
  position:relative;
}

.linkNav {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  color:white;
  font-size: 22px;
  border-radius: 50%;
}

.logo{
  display: inline-flex;
  width: 60px;
  border-radius: 50%;
  margin-left: 3%;
}
.companyCard {
  min-height: 500px;
}

.companyTable {
  min-height: 500px;
  padding-top: 5%;
}

.seeTable {
  display: inline-block;
  justify-self: end;
}
